<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
                <key>API_URL</key>
                <string>https://api.speed-booking.com</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Speed book taxi driver</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>speedbook_taxi_driver</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>NSCameraUsageDescription</key>
        <string>You must make selfie with document for verification</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>NSUserNotificationUsageDescription</key>
		<string>To recieve tracking information</string>
		<key>GOOGLE_MAPS_API_KEY</key>
		<string>$(GOOGLE_MAPS_API_KEY)</string>
		<key>GOOGLE_GEO_API_KEY</key>
		<string>$(GOOGLE_GEO_API_KEY)</string>
		<key>API_URL</key>
		<string>$(API_URL)</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>branch_key</key>
		<dict>
		      <key>live</key><string>key_live_xxxxxxxxx</string>
		      <key>test</key><string>key_test_xxxxxxxxx</string>
		</dict>
		<key>branch_app_domain</key><string>yourapp.app.link</string>
		<key>branch_universal_link_domains</key>
		<array>
		      <string>yourapp.app.link</string>
		      <string>yourapp-alternate.app.link</string>
		</array>
		<key>NSLocationWhenInUseUsageDescription</key>
        <string>We use your location to receive orders nearby and navigate.</string>
	</dict>
</plist>
